header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo img {
  height: auto;
  width: 150px;
}

.header_menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header_menu_item {
  list-style: none;
  font-size: 14px;
}

.header_menu_item:not(:last-of-type) {
  margin-right: 20px;
}

.header_menu_item a {
  text-decoration: none;
  color: darkgrey;
}

.top {
  margin-bottom: 70px;
}

.top_section_img {
  text-align: right;
  position: relative;
}

.top_section_img img {
  width: 60%;
}

.top_section_content {
  position: absolute;
  top: 150px;
  left: 22%;
}

.top_section_content_cacthcopy {
  font-size: 60px;
  font-family: "Indie Flower", cursive;
  color: darkmagenta;
  margin-bottom: 60px;
}

.top_section_cacthcopy_color {
  color: cadetblue;
}

.top_section_content_cacthcopy_ja {
  font-size: 20px;
  font-weight: bold;
  color: darkmagenta;
  margin-bottom: 10px;
}

.top_section_cacthcopy_ja_color {
  color: cadetblue;
}

.top_section_content_company {
  font-size: 14px;
  color: darkgray;
  line-height: 18px;
}

.news_section {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

.news_section_title {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: darkgray;
  padding: 18px 0 14px 0;
  border-bottom: 1px solid #ddd;
}

.news_section_title p::before {
  content: 'News';
  color: rgb(179, 39, 116);
  font-size: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.news_section_list {
  list-style: none;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
  padding-bottom: 24px;
}

.news_section_item {
  font-size: 14px;
  padding: 14px 100px 14px 0;
  border-bottom: 1px solid rgba(245, 245, 245, 0.8);
}


.news_section_item a {
  text-decoration: none;
  color:dimgray;
}

.news_section_item_color {
  margin: 0 14px;
  padding: 3px 10px;
  background: rgb(179, 39, 116);
  color: #fff;
  border-radius: 10px;
}

.about_section {
  background: rgba(245, 245, 245, 0.8);
  padding: 30px 0;
  margin-bottom: 100px;
  text-align: center;
}
.about_section_content {
  display: flex;
  justify-content: space-between;
  margin: 0 300px;
}

.about_section_title {
  font-size: 18px;
  font-weight: bold;
  color: black;
  opacity: 0.8;
  padding: 18px;
  margin-bottom: 10px;
  position: relative;
}

.about_section_title::before {
  content: 'About';
  font-size: 5px;
  color: rgb(179, 39, 116);
  position: absolute;
  top: 0;
  left: 49%;
}

.about_section_content_ttl_a,
.about_section_content_ttl_b {
  margin-bottom: 24px;
  color: darkgray;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
}

.about_section_img {
  width: 40%;
}

.about_section_img img {
  width: 100%;
  height: auto;
}



.service_section_wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.service_section_abc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service_section_title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: dimgrey;
  padding: 18px 0;
  margin-bottom: 10px;
  position: relative;
}

.service_section_title::before {
  content: 'Service';
  font-size: 5px;
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(150, 10, 150);
}

.service_section_a {
  background: rgb(150, 10, 150);
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.service_section_title_a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}

.service_section_content_a {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 50px;
}

.service_section_wrap_b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(180, 100, 180);
  padding: 20px 14px;
}

.service_section_b {
  margin-left: 14px;
}

.service_section_wrap_c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(230, 160, 230);
  padding: 20px 14px;
}

.service_section_c {
  margin-left: 14px;
}

.service_section_content_b,
.service_section_content_c {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

.service_section_title_b,
.service_section_title_c {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  padding: 10px 0;
}

.service_section_title_a::before {
  content: '';
  background: url(../img/service__first.svg) no-repeat;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding-bottom: 18px;
}

.service_section_wrap_b::before{
  content: '';
  background: url(../img/service__first.svg) no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.service_section_wrap_c::before{
  content: '';
  background: url(../img/service__first.svg) no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.blog_section {
  background: #ddd;
  padding: 50px 300px 30px;
  margin-bottom: 100px;
}

.blog_section_card_left img,
.blog_section_card_center img,
.blog_section_card_right img {
  width: 250px;
  height: auto;
  border-top-left-radius:  10px;
  border-top-right-radius: 10px;
}

.blog_section_card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.blog_section_card_left,
.blog_section_card_center,
.blog_section_card_right {
  background: #fff;
  border-radius: 10px;
}

.blog_section_card_left a,
.blog_section_card_center a,
.blog_section_card_right a {
  text-decoration: none;
}

.blog_section_content {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(80, 80, 80);
}

.blog_section_card_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 5px;
  color:darkgrey;
  padding: 10px 15px;
}

.blog_section_title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(80, 80, 80);
  padding: 18px 0;
  position: relative;
}

.blog_section_title::before {
  content: 'Blog';
  color: rgb(150, 10, 150);
  font-size: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.blog_section_blogpage {
  text-align: center;
}

.blog_section_blogpage a {
  text-decoration: none;
  background: #fff;
  border: solid 1px rgb(150, 10, 150) ;
  color: rgb(150, 10, 150);
  padding: 10px 24px;
  border-radius: 24px;
  font-size: 12px;
}

.company_section {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.company_section_table table,tr,th,td {
  border: solid 1px #ddd;
}

.company_section_table th {
  font-size: 14px;
  font-weight: bold;
  line-height: 42px;
  padding: 0 100px 0 5px;
  background: #eee;
  text-align: left;
}

.company_section_table td {
  font-size: 14px;
  line-height: 42px;
  padding: 0 300px 0 5px;
  text-align: left;
}

.company_section_title {
  padding: 18px 0;
  font-size: 18px;
  font-weight: bold;
  color: rgb(80, 80, 80);
  position: relative;
}

.company_section_title::before {
  content: 'Company';
  color: rgb(150, 10, 150);
  font-size: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.contact_section_img {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.contact_section_recruit_img {
  position: relative;
}

.contact_section_recruit_img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.contact_section_interview_img {
  position: relative;
}

.contact_section_interview_img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.contact_section_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_section_form_content {
  font-size: 18px;
  font-weight: bold;
  color: rgb(80, 80, 80);
}

.contact_section_form_line {
  border-left: solid 2px rgb(150, 10, 150);
  height: 28px;
  width: 0px;
  display: inline-block;
  margin: 18px 0;
}

.contact_section_form_link {
  background: linear-gradient(90deg,rgb(240,80,240),rgb(150,10,150));
  padding: 24px 20px;
  font-size: 14px;
  border-radius: 30px;
  box-shadow: 0 10px 0px rgb(100, 10, 100);
}

.contact_section_form_link a {
  text-decoration: none;
  color: #fff;
  padding: 3px 60px;
  position: relative;
}

.contact_section_form_link a::before {
  content: '';
  background-image: url(../img/mailicon.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate();
}

.contact_section {
  margin-bottom: 100px;
}



.footer_info {
  padding: 15px;
  background: #ddd;
  color: rgb(80, 80, 80);
  text-align: center;
  font-size: 8px;
}













.humberger_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header nav {
    display: none;
  }
  .humberger_menu {
    position: absolute;
    top: 0;
    right: 0;
  }
}
